<!DOCTYPE html>
<html>
  <head>
    <title>Hero Squad</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  </head>
  <body style="background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAIRX_mzZijaFSzSjAP750L_y_SxRmBi2ukH4GKyC0t44gEnG2)">
    <div class="container">
    <div class="jumbotron">
      #parse( $template )
    </div>
    </div>
  </body>
</html>